@import "https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=IM+Fell+DW+Pica&family=Xanh+Mono&family=Libre+Baskerville&display=swap";

body {
	--inline-title-font: "Libre Baskerville";
	--inline-title-weight: var(--font-medium);
	--font-interface-theme: "Libre Baskerville";
	--font-monospace-theme: "Xanh Mono";
	--font-text-theme: "IM Fell DW Pica";

	letter-spacing: 0.05em;
	--radius: 1em;

	--h1-font: "IM Fell DW Pica SC";
	--h1-size: 2em;
	--h1-weight: var(--font-bold);

	--h2-font: "IM Fell DW Pica SC";
	--h2-size: 2em;
	--h2-weight: var(--font-bold);

	--h3-font: "IM Fell DW Pica SC";
	--h3-size: 1.8em;
	--h3-weight: var(--font-medium);

	--h4-font: "IM Fell DW Pica SC";
	--h4-color: hsl(var(--accent-h), 7%, 70%);
	--h4-size: 1.8em;
	--h4-weight: var(--font-medium);

	--h5-font: "IM Fell DW Pica SC";
	--h5-color: hsl(var(--accent-h), 9%, 60%);
	--h5-size: 1.6em;
	--h5-weight: var(--font-normal);

	--h6-font: "IM Fell DW Pica SC";
	--h6-color: hsl(var(--accent-h), 11%, 50%);
	--h6-size: 1.6em;
	--h6-weight: var(--font-normal);

	--background-secondary: hsl(var(--accent-h), 5%, 15%);
	--background-primary: hsl(var(--accent-h), 5%, 12%);

	--icon-color-hover: hsl(var(--accent-h), 25%, 50%);
	--icon-color: hsl(var(--accent-h), 10%, 85%);

	--text-normal: hsl(var(--accent-h), 10%, 85%);
	--text-muted: hsl(var(--accent-h), 5%, 75%);


	--nav-item-background-hover: hsl(var(--accent-h), 25%, 20%);
	--nav-item-background-active: hsl(var(--accent-h), 25%, 20%);
	--nav-item-color-hover: hsl(var(--accent-h), 25%, 75%);
	--nav-item-color-active: hsl(var(--accent-h), 25%, 50%);
	--background-modifier-hover: hsl(var(--accent-h), 25%, 20%);

	--link-external-color: hsl(var(--accent-h), 25%, 50%);
	--link-external-color-hover: hsl(var(--accent-h), 30%, 40%);
	--link-weight: var(--font-medium);
}

.canvas-placeholder-message {
	background: hsl(var(--accent-h), 33%, 50%, 0.15);
	color: hsl(var(--accent-h), 33%, 50%);
}

.canvas-control-group {
	border: 0;
}

.canvas-control-item:hover {
	background-color: hsl(var(--accent-h), 25%, 20%);
	color: hsl(var(--accent-h), 25%, 75%);
 }

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

image {
	radius: 10px;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
