// Add your own CSS here!

:root {
  --light: #23202D !important;
  --dark: #c58de2 !important;
  --secondary: #8D9FE2 !important;
  --visited: #4a575e !important;
  --tertiary: #84a59c !important;
  --primary: #f58382 !important;
  --gray: #9ce28d !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #0f110f !important;
  --dark: ##ccffcc !important;
  --secondary: ##ccffcc !important;
  --visited: #ccddff !important;
  --tertiary: #ffccf7 !important;
  --primary: #f2fff2 !important;
  --gray: #f2fff2 !important;
  --lightgray: #f2fff2 !important;
  --outlinegray: #f2fff2 !important;
}



