:root {
  --light: #dcdfd2 !important;
  --dark: #3a721d !important;
  --secondary: #72601d !important;
  --visited: #b5a8a1 !important;
  --tertiary: #7b5a63 !important;
  --primary: #0a7c7d !important;
  --gray: #2b2b2b !important;
  --lightgray: #d6d9cc !important;
  --outlinegray: #cbcbcb !important;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #23202D !important;
  --dark: #c58de2 !important;
  --secondary: #8D9FE2 !important;
  --visited: #4a575e !important;
  --tertiary: #84a59c !important;
  --primary: #f58382 !important;
  --gray: #9ce28d !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}



